<div>
  <h2>Template-driven component example</h2>
  <app-template-driven-component-example></app-template-driven-component-example>
</div>
<div>
  <h2>Template-drive form example</h2>
  <app-template-driven-form-example></app-template-driven-form-example>
</div>

<div>
  <h2>Reactive component example</h2>
  <app-reactive-control-example></app-reactive-control-example>
</div>
<div>
  <h2>Reactive validators example</h2>
  <app-reactive-validators-example></app-reactive-validators-example>
</div>
<div>
  <h2>Reactive form example</h2>
  <app-reactive-form-example></app-reactive-form-example>
</div>
<div>
  <h2>Reactive form complex example</h2>
  <app-reactive-form-complex-example></app-reactive-form-complex-example>
</div>
