@font-face{
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

@page {
  size: 1210px 900px;
  /* size: 908px 681px; */
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

* {
  margin-block-start: 0; 
  margin-block-end: 0;         
}

ul {
  padding-inline-start: 1em;
}

body { font-family: 'Roboto'; }
.remark-slide-content {
  padding: 90px 2em 1em 2em;
  vertical-align: middle; /* default middle class */
}

h1, h2, h3, ul {
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 1em;
}
h3 { font-size: 24px !important; }
h1 { font-size: 48px !important; }
h2 { font-size: 36px !important; }
li { 
  font-size: 24px !important; 
  line-height: 2em;
}

li > ul {
  margin-top: 0;  
}

li li {
  line-height: 1.5em;
}

.blue {
  background: linear-gradient(#4BB4D2, #AFC4DF)
}

/* icons */
.center.icon img { width: 400px; }
.top.icon img { 
  width: 100px; 
  position: absolute; 
  top: 1em; 
  left: 20px; 
}

/* sound check */
.sound-top h1 { margin-top: 0; }
.sound-bottom { bottom: 40px; position: absolute; }
.sound-bottom h2, .sound-bottom h3 { margin-block-end: 0.5em; margin-block-start: 0.5em; }

/* title */
.remark-slide-content>h1:first-child {
  position: absolute;
  width: 100%; 
  top: 0em;
  left: 0;
  vertical-align: middle;
  
  font-size: 30px !important;
  padding-left: 1em;
  display: inline;
  
  background-image: url(/assets/otus-3.png);
  background-position: center right 2em;
  background-repeat: no-repeat;
  background-size: 100px 24px;
}

.title .top.icon img {
  position: initial;
  float: right;
  padding-right: 1em;
  padding-top: 6px;
}

.remark-slide-content > h1:first-child::after {
  height: 1px;
  background-color: rgb(210, 220, 230);
  content: " ";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%; 
}

.remark-slide-content > h1:first-child p {
  display: inline;
}



/* content */
.hidden { display: none; }
.white { color: white }
.black { color: black }
.red { color: red }
.green { color: green }
.blue { color: blue }


blockquote { font-style: italic; margin: 0; }

.right-image img {
  float: right;
  width: 400px;
}

/* code */
.remark-inline {         
  font-family: 'Consolas'; 
  font-style: normal;
}

.remark-inline-code { 
  font-family: 'Consolas'; 
  font-size: 28px; 
  font-style: normal;
  font-weight: bolder;
}

.left-code {
  float: left;
  width: 400px;
  /* margin-right: 40px; */
}

.long-left-code {
  float: left;
  width: 480px;
  margin-right: 40px;
}

.left-code + ul {
  margin-top: 20px;
}

.right-code {
  float: right;
  width: 400px;
}

.remark-code {
  /* height: 400px; */
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em !important;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15)
}

.hljs.bash {
  background-color: black;
  color: white;
}


table {
  width: 100%;
}

table img {
  max-width: 118px;
  max-height: 80px;
}

.mario {
  position: absolute;
  top: 80px;
}

.mushroom img {
  width: 20px;
  margin-left: 152px;
  margin-top: 83px;
  opacity: 0.2;
}

.castle img {
  width: 200px;
  margin-left: 670px;
  margin-top: 350px;
}

.mario-1 img {
  width: 40px;
  margin-left: 10px;
  margin-top: 40px;
}

.mario-2 img {
  width: 40px;
  margin-left: 30px;
  margin-top: 30px;
}

.mario-3 img {
  width: 40px;
  margin-left: 120px;
  margin-top: 150px;
}

.mario-4 img {
  width: 40px;
  margin-left: 140px;
  margin-top: 248px;
}

.mario-11 img {
  width: 40px;
  margin-left: 240px;
  margin-top: 300px;
}

.mario-5 img {
  width: 40px;
  margin-left: 140px;
  margin-top: 303px;
}

.mario-9 img {
  width: 40px;
  margin-left: 270px;
  margin-top: 20px;
}

.mario-10 img {
  width: 40px;
  margin-left: 270px;
  margin-top: 150px;
}

.mario-12 img {
  width: 40px;
  margin-left: 270px;
  margin-top: 160px;
}

.mario-final img {
  width: 40px;
  margin-left: 663px;
  margin-top: 400px;
}

.teachers h3 {
  margin-bottom: initial;
}

.half-image img {
  width: 50%;
  height: 50%;
}

.full-image img {
  width: 100%
}


/* custom slide rules */
#semantic-versioning ~ table th {
  text-align: left;
}

.profile {
  background-color: rgb(74, 144, 226);
}

.profile.remark-slide-content > h1:first-child::after {
  height: 0px;
}

.profile img {
  border-radius: 50%;
  width: 300px;
}

.height-400 img {
  height: 400px;
  position: absolute;
  right: 200px;
}